<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is one page website for TCIA Global.">
    <meta name="author" content="Jyoti">
    <title>Home Page</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='themify-icons.css') }}">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.carousel.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='owl.theme.default.css') }}">


    <!-- Bootstrap + Ollie main styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='ollie.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container-fluid" style="padding-left: 150px; padding-right: 150px;"> <!-- Adjusted padding for the container -->
            <a class="navbar-brand" href=""><img src="{{ url_for('static', filename='/img/Logo_TCIA.png') }}"  alt="" class="brand-img" style="max-height: 60px;"></a> <!-- Increase the size of the logo -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"> <!-- Add dropdown class for the menu -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: -10px;">Menu</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Add your various services here as dropdown items -->
                            <a class="dropdown-item" a href="/sap-services"><strong>SAP Services</strong></a>
                            <a class="dropdown-item" a href="/assessment-services"><strong>Assessment Services</strong></a>
                            <a class="dropdown-item" a href="/it-services"><strong>IT Services</strong></a>
                            <a class="dropdown-item" a href="/services"><strong>Cloud Services</strong></a>
                            <a class="dropdown-item" a href="/trainings"><strong>Trainings</strong></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Rest of your HTML content goes here -->
</body>




    <header id="home" class="header">
        <div class="overlay"></div>
            
                <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
                    <div class="container">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption d-none d-md-block">
                                    <h6 class="carousel-title">Transforming Cloud, Infrastructure & Applications</h6>
                                    <h1 class="carousel-title">Welcome To TCIA GLOBAL</h1>
                                    <a href="/about-us" class="btn btn-primary btn-rounded"><strong>About Us</strong></a>
                                    <a href="/contact-us" class="btn btn-primary btn-rounded" style="margin-left: 40px;"><strong>Contact Us</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
        
                    <!--<div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">We Make <br> Simple Design</h1>
                            <button class="btn btn-primary btn-rounded">Learn More</button>
                          </div>
                    </div>
                -->
                </div>
            </div>        
        </div>

        <!--<div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">Are locking for</h6>
                <h5>Lorem inpsum</h5>
                <p class="font-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i> (123) 456-7890</a>
                        <a class="d-block subtitle"><i class="ti-email pr-2"></i> info@website.com</a>
                    </div>
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2">Social Media</h6>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-google"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-pinterest-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-rss"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    </header>

    <section class="section" id="about">

        <div class="container">

            <div class="row align-items-center mr-auto">
                <div class="col-md-5">
                    <h6 class="xs-font mb-0">Vision and Mission Section</h6>
                    <br>
                    <h3 class="section-title">Vision</h3>
                    <p style="font-weight: bold;">To become one of India's best leading consultancy companies bringing about the mutual growth of ourselves and our clients, to exist in this world forever. Mould ourselves to the fast changing and ever growing IT technologies, helping everyone to adapt and develop in their respective domains.</p>
                    <h3 class="section-title">Mission</h3>
                    <p style="font-weight: bold;">Our mission is to provide customized services and solutions, to assist customers accomplish their goals, by utilizing the cost effective and innovative solutions in the field of Cloud infrastructure, Migration, Application development, Consultancy, IT infrastructure support and Trainings.</p>
                </div>
                <div class="col-sm-6 col-md-3 ml-auto">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="fa-regular fa-calendar"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">52100</h4>
                            <p style="font-weight: bold;">Projects completed successfully.</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-face-smile"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">23200</h4>
                            <p style="font-weight: bold;">Happy Clients served till date.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">146300</h4>
                            <p style="font-weight: bold;">Hours Of Support to happy Clients.</p>
                        </div>
                    </div>
                    <div class="widget">
                        <div class="icon-wrapper">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">50</h4>
                            <p style="font-weight: bold;">Hard Workers Team Support.</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h6 class="xs-font mb-0">Managed Services Section</h6>
            <br>
            <h3 class="section-title mb-4">Managed Services</h3>

            <div class="row text-center">
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team102.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">AWS & Azure  &amp; Managed Services</h4>
                            <p style="font-weight: bold;">AWS & Azure Managed Services automates common activities, such as change requests, monitoring, patch management, security, and backup services, and provides full-lifecycle services to provision, run, and support your infrastructure.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team106.jpg') }}">
                        <span class="card-body">
                            <h4 class="title mt-4">Infrastructure Installation & Deployment</h4>
                            <p style="font-weight: bold;">Infrastructure deployment typically involves defining the sequence of operations or steps, ... Ensure that all release and deployment packages can be tracked, installed, tested, verified, and/or uninstalled or backed out, if appropriate.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team109.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Business Continuity & Disaster Recovery</h4>
                            <p style="font-weight: bold;">Disaster recovery and business continuity planning are processes that help organizations prepare for disruptive events—whether those events might include a hurricane or simply a power outage caused by a backhoe in the parking lot.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team134.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Availability Management</h4>
                            <p style="font-weight: bold;">The Goal of Availability Management is to ensure that level of service availability is delivered in all services is matched to or exceeds the current and future agreed needs of the business in a cost-effective manner.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team123.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Break-fix As A Service</h4>
                            <p style="font-weight: bold;">Break/fix is a method of providing IT support to customers. Services are generally fee-based and rely on a customer contacting the IT services company when repairs and upgrades are needed.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team101.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Incident Management & Ticketing Solutions</h4>
                            <p style="font-weight: bold;">An incident management system is a combination of equipment, personnel, procedures and communications that work together in an emergency to react, understand and respond.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team100.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Security As A Services</h4>
                            <p style="font-weight: bold;">Security service is a service, provided by a layer of communicating open systems, which ensures adequate security of the systems or of data transfers as defined by ITU-T X.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team107.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">IT Risk Assessment</h4>
                            <p style="font-weight: bold;">An IT risk assessment is a major preventive measure that actively mitigates the risk of vulnerabilities and threats negatively impacting the organization.</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="javascript:void(0)" class="card border-0 text-dark">
                        <img class="card-img-top" src="{{ url_for('static', filename='/img/team143.jpg') }}" >
                        <span class="card-body">
                            <h4 class="title mt-4">Cloud Trainings</h4>
                            <p style="font-weight: bold;">We provide training services on Cloud, Networking, AWS, Azure and other services.</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="section" id="testmonial">
        <div class="container">
            <h6 class="xs-font mb-0">Testmonials Section</h6>
            <br>
            <h3 class="section-title">Testmonials</h3>

            <div id="owl-testmonial" class="owl-carousel owl-theme mt-2">
                <div class="item">
                    <div class="textmonial-item">
                        <div class="des">
                            <h6><i class="fa-solid fa-quote-left"></i></h6>
                            <p style="font-weight: bold;">Our transition to the cloud was seamless and efficient, thanks to the expertise of this cloud service company. Their team demonstrated a deep understanding of our unique IT requirements and provided tailored solutions that have significantly enhanced our operational efficiency. I am thoroughly impressed with their professionalism and commitment to delivering top-notch cloud services.</p>
                            <h6 class="text-right"><i class="fa-solid fa-quote-right"></i></h6>

                            <div class="line"></div>
                            <h6 class="name">Willy Wonka</h6>
                            <h6 class="xs-font">IT Manager</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="textmonial-item">
                        <div class="des">
                            <h6><i class="fa-solid fa-quote-left"></i></h6>
                            <p style="font-weight: bold;">Choosing this cloud service company was a pivotal decision for our start-up. The scalable and secure cloud infrastructure they provided has allowed us to focus on innovation without worrying about the technical complexities. The reliability of their services and the prompt support we receive have been instrumental in our growth. I highly recommend their cloud solutions to any entrepreneur looking for a robust foundation.</p>
                            <h6 class="text-right"><i class="fa-solid fa-quote-right"></i></h6>

                            <div class="line"></div>
                            <h6 class="name">Damon Salvatore</h6>
                            <h6 class="xs-font">Start-up Founder</h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="textmonial-item">
                        <div class="des">
                            <h6><i class="fa-solid fa-quote-left"></i></h6>
                            <p style="font-weight: bold;">The data management capabilities offered by this cloud service company have revolutionized the way we handle and analyze information. Their cutting-edge cloud solutions not only provide the flexibility we need but also ensure the security of our sensitive data. Working with this team has been a game-changer for our analytics processes, and I'm genuinely grateful for the positive impact on our data-driven decision-making.</p>
                            <h6 class="text-right"><i class="fa-solid fa-quote-right"></i></h6>

                            <div class="line"></div>
                            <h6 class="name">Harry Potter</h6>
                            <h6 class="xs-font">Data Analyst</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="blog">

        <div class="container mb-3">
            <h6 class="xs-font mb-0">F.A.Q</h6>
            <br>
            <h3 class="section-title mb-5">Frequently Asked Questions</h3>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                      <i class="bx bx-help-circle"></i>
                      <h5>What sets TCIA Global apart in the cloud services industry?</h5>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-weight: bold;">
                        TCIA Global stands out as a young, born-in-the-cloud company founded by highly experienced professionals with over 16 years of expertise in AWS, Azure, and Google Cloud. Our vision is to provide Infrastructure as a Service (IAAS) and application modernization at an economical cost, supporting managed services across all three major clouds in India. We excel in reducing time to market for our clients' cloud infrastructure setup.
                      </p>
                    </div>
                </div>

                <br>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                      <i class="bx bx-help-circle"></i>
                      <h5>How does TCIA Global ensure performance, scalability, and fault tolerance in cloud solutions?</h5>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-weight: bold;">
                        TCIA Global leverages cloud-native services on AWS, employing auto-scaling and auto-healing capabilities. Our architecture and DevOps strategy are designed to meet customer requirements for fault tolerance and high performance. We specialize in creating performant architectures that adapt to varying workloads and ensure system resilience.
                    </p>
                    </div>
                </div>

                <br>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                      <i class="bx bx-help-circle"></i>
                      <h5>What digital transformation services does TCIA Global offer on AWS, Azure, and Google Cloud?</h5>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-weight: bold;">
                        TCIA Global partners with clients for digital transformation projects on leading cloud platforms. Our expertise lies in DevOps, application modernization, and security skills. We simplify our clients' digital journey by providing services such as migration, application modernization, and cost-efficiency measures while prioritizing security.
                    </p>
                    </div>
                </div>

                <br>

                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                      <i class="bx bx-help-circle"></i>
                      <h5>How does TCIA Global address security and compliance in cloud solutions?</h5>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-weight: bold;">
                        Security is a top priority for TCIA Global. Our team possesses the necessary skills to address automation, ensuring that organizations meet both cost and security obligations. We implement robust security measures and work closely with clients to enhance their cloud security posture, adhering to industry best practices and compliance standards.
                    </p>
                    </div>
                </div>

                <br>
                  
                <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                      <i class="bx bx-help-circle"></i>
                      <h5>What is TCIA Global's approach to helping clients initiate their cloud journey?</h5>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-weight: bold;">
                        TCIA Global collaborates with clients to initiate digital transformation projects on AWS, Azure, and Google Cloud. Our approach involves a combination of DevOps practices, application modernization, and a focus on security. We believe in adopting the cloud as the norm for organizations, providing the necessary skills and expertise to streamline the digital journey and achieve business objectives.
                    </p>
                    </div>
                </div>


                  
            </div>
        </div>
    </section>
    
	<!-- core  -->
    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap.affix.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='owl.carousel.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='ollie.js') }}" type="text/javascript"></script>


</body>
</html>
